body {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

.container {
    width: 100%;
    padding-right: calc(3rem * 0.5);
    padding-left: calc(3rem * 0.5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1400px) {
    .container {max-width: 1320px;}
}

/* column */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * 0);
    margin-right: calc(-.5 * 1.5rem);
    margin-left: calc(-.5 * 1.5rem);

    &>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(1.5rem * .5);
        padding-left: calc(1.5rem * .5);
        margin-top: 1rem;
    }
}

.col {
    flex: 1 0 0%;
}

.row-cols-1>* {
    width: 100%;
    flex: 0 0 auto;
}

@media (min-width: 576px) {
    .row-cols-sm-2>* {
        flex: 0 0 auto;
        width: 50%;
    }
    }

@media (min-width: 768px) {

    .row-cols-md-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .col-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    
    .col-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.mt-5 {
    margin-top: 3rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

/* Padding */

.p-3 {
    padding: 1rem;
};

/* Font Style */
.text-center {
    text-align: center;
}

*, ::after, ::before {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

.bg-light {
    background-color: #f8f8f8;
}

ul, li {
    list-style: none;
}

p {
    margin-top:0;
    margin-bottom: 1rem;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

/* intro */
.intro h1 {
    font-size: calc(1.875rem + 3.3vw);
    line-height: 1;
}
.dot {
    color: #FFCE00;
}


/* portfolio */
.portfolio-item {
    overflow: hidden;
    position: relative;
    &:hover {
        .item-thumnail::before, .item-desc {
            opacity: 1;
        }
    }
}

.item-thumnail::before {
    background: #FFCE00;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 1;
}

.item-desc {
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 100%;
    background: transparent;
    bottom: auto;
    padding: 0;
    text-align: center;
    top: 50%;
    z-index: 1;
    transform: translateY(-55%);

    h4 {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 5px;
        padding-left: 0;
        transition-duration: 0.3s;
    }
}

/* social */
.social-bookmark li {
    display: inline-block;
    border-left: 1px solid #e5e5e5;
    padding: 0 20px;

    &:first-child {
        border-left: none;
    }
}
